* {
    font-family: "Roboto";
    font-weight: lighter;
    color: white;
}

body {
    background-color: rgba(0, 0, 0, .9);
}

#roomBox {
    height: 300px;
    width: 300px;
    background-color: #FAFAFA;
    margin: 10px auto;
}

.buttons1 {}

.buttons1:hover {}