    #roomBox {
        height: 215px;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.08);
        margin: 30px auto 0px;
        text-align: center;
        padding: 20px;
    }
    
    .joinbutton {
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 0px;
    }
    
    .joininputs {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    #liveTiles {
        height: 370px;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.08);
        margin: 30px auto 0px;
        text-align: center;
        padding: 20px;
    }
    
    .tileButtons {
        height: 60px;
        width: 300px;
        margin: 0 auto;
        color: black;
        margin-top: 10px;
        font-size: 40px;
    }