#iframe {
    border: 0px;
}

#playlist {
    font-size: 30px;
}

#bar {
    text-align: center;
    margin: auto;
}

#cancel,
#add,
#addToPlaylist {
    margin-right: 20px;
    margin-left: 20px;
}

th,
td {
    padding: 20px;
}